In [7]:
import joblib
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import copy

In [4]:
diamond_price_prediction=joblib.load("Diamond_Prediction_Model")

In [5]:
pred_data_df=pd.read_csv("test.csv")

In [6]:
pred_data_df

            id  carat        cut color clarity  depth  table     x     y     z
0       193573   0.35      Ideal     D     VS2   62.3   56.0  4.51  4.54  2.82
1       193574   0.77  Very Good     F     SI2   62.8   56.0  5.83  5.87  3.68
2       193575   0.71      Ideal     I     VS2   61.9   53.0  5.77  5.74  3.55
3       193576   0.33      Ideal     G    VVS2   61.6   55.0  4.44  4.42  2.73
4       193577   1.20  Very Good     I     VS2   62.7   56.0  6.75  6.79  4.24
...        ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
129045  322618   0.72      Ideal     D    VVS2   62.0   56.0  5.75  5.78  3.57
129046  322619   0.70    Premium     D     SI1   59.6   62.0  5.77  5.74  3.43
129047  322620   1.01    Premium     G    VVS2   62.3   58.0  6.44  6.41  4.01
129048  322621   1.35      Ideal     D      I1   62.0   56.0  7.05  7.08  4.38
129049  322622   1.07    Premium     H     SI2   62.6   60.0  6.49  6.45  4.06

[129050 rows x 10 columns]

In [8]:
pred_data_copy=copy.deepcopy(pred_data_df)

In [9]:
pred_data_copy

            id  carat        cut color clarity  depth  table     x     y     z
0       193573   0.35      Ideal     D     VS2   62.3   56.0  4.51  4.54  2.82
1       193574   0.77  Very Good     F     SI2   62.8   56.0  5.83  5.87  3.68
2       193575   0.71      Ideal     I     VS2   61.9   53.0  5.77  5.74  3.55
3       193576   0.33      Ideal     G    VVS2   61.6   55.0  4.44  4.42  2.73
4       193577   1.20  Very Good     I     VS2   62.7   56.0  6.75  6.79  4.24
...        ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
129045  322618   0.72      Ideal     D    VVS2   62.0   56.0  5.75  5.78  3.57
129046  322619   0.70    Premium     D     SI1   59.6   62.0  5.77  5.74  3.43
129047  322620   1.01    Premium     G    VVS2   62.3   58.0  6.44  6.41  4.01
129048  322621   1.35      Ideal     D      I1   62.0   56.0  7.05  7.08  4.38
129049  322622   1.07    Premium     H     SI2   62.6   60.0  6.49  6.45  4.06

[129050 rows x 10 columns]

In [10]:
pred_data_copy=pred_data_copy.drop("id",axis=1)

In [11]:
pred_data_copy

        carat        cut color clarity  depth  table     x     y     z
0        0.35      Ideal     D     VS2   62.3   56.0  4.51  4.54  2.82
1        0.77  Very Good     F     SI2   62.8   56.0  5.83  5.87  3.68
2        0.71      Ideal     I     VS2   61.9   53.0  5.77  5.74  3.55
3        0.33      Ideal     G    VVS2   61.6   55.0  4.44  4.42  2.73
4        1.20  Very Good     I     VS2   62.7   56.0  6.75  6.79  4.24
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
129045   0.72      Ideal     D    VVS2   62.0   56.0  5.75  5.78  3.57
129046   0.70    Premium     D     SI1   59.6   62.0  5.77  5.74  3.43
129047   1.01    Premium     G    VVS2   62.3   58.0  6.44  6.41  4.01
129048   1.35      Ideal     D      I1   62.0   56.0  7.05  7.08  4.38
129049   1.07    Premium     H     SI2   62.6   60.0  6.49  6.45  4.06

[129050 rows x 9 columns]

In [12]:
l_enc=LabelEncoder()

In [13]:
l_cut=l_enc.fit_transform(pred_data_copy.cut)

In [14]:
l_color=l_enc.fit_transform(pred_data_copy.color)

In [15]:
l_clarity=l_enc.fit_transform(pred_data_copy.clarity)

In [16]:
pred_data_copy["l_cut"]=l_cut

In [17]:
pred_data_copy["l_color"]=l_color

In [18]:
pred_data_copy["l_clarity"]=l_clarity

In [19]:
pred_data_copy

,carat,cut,color,clarity,depth,table,x,y,z,l_cut,l_color,l_clarity
0,0.35,Ideal,D,VS2,62.3,56.0,4.51,4.54,2.82,2,0,5
1,0.77,Very Good,F,SI2,62.8,56.0,5.83,5.87,3.68,4,2,3
2,0.71,Ideal,I,VS2,61.9,53.0,5.77,5.74,3.55,2,5,5
3,0.33,Ideal,G,VVS2,61.6,55.0,4.44,4.42,2.73,2,3,7
4,1.20,Very Good,I,VS2,62.7,56.0,6.75,6.79,4.24,4,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
129045,0.72,Ideal,D,VVS2,62.0,56.0,5.75,5.78,3.57,2,0,7
129046,0.70,Premium,D,SI1,59.6,62.0,5.77,5.74,3.43,3,0,2
129047,1.01,Premium,G,VVS2,62.3,58.0,6.44,6.41,4.01,3,3,7
129048,1.35,Ideal,D,I1,62.0,56.0,7.05,7.08,4.38,2,0,0
129049,1.07,Premium,H,SI2,62.6,60.0,6.49,6.45,4.06,3,4,3

In [20]:
pred_data_copy=pred_data_copy.drop(["cut","color","clarity"],axis=1)

In [21]:
pred_data_copy

        carat  depth  table     x     y     z  l_cut  l_color  l_clarity
0        0.35   62.3   56.0  4.51  4.54  2.82      2        0          5
1        0.77   62.8   56.0  5.83  5.87  3.68      4        2          3
2        0.71   61.9   53.0  5.77  5.74  3.55      2        5          5
3        0.33   61.6   55.0  4.44  4.42  2.73      2        3          7
4        1.20   62.7   56.0  6.75  6.79  4.24      4        5          5
...       ...    ...    ...   ...   ...   ...    ...      ...        ...
129045   0.72   62.0   56.0  5.75  5.78  3.57      2        0          7
129046   0.70   59.6   62.0  5.77  5.74  3.43      3        0          2
129047   1.01   62.3   58.0  6.44  6.41  4.01      3        3          7
129048   1.35   62.0   56.0  7.05  7.08  4.38      2        0          0
129049   1.07   62.6   60.0  6.49  6.45  4.06      3        4          3

[129050 rows x 9 columns]

In [22]:
sca_data=StandardScaler()

In [23]:
sca_data=sca_data.fit_transform(pred_data_copy)

In [24]:
sca_data

array([[-0.94974231,  0.4438603 , -0.64599903, ..., -0.63674197,
        -1.54999518,  0.72239697],
       [-0.04163527,  0.9067184 , -0.64599903, ...,  1.57615629,
        -0.3163275 , -0.50405844],
       [-0.17136485,  0.07357382, -2.20939427, ..., -0.63674197,
         1.53417402,  0.72239697],
       ...,
       [ 0.47728304,  0.4438603 ,  0.39626446, ...,  0.46970716,
         0.30050634,  1.94885238],
       [ 1.21241731,  0.16614544, -0.64599903, ..., -0.63674197,
        -1.54999518, -2.34374156],
       [ 0.60701262,  0.72157516,  1.43852795, ...,  0.46970716,
         0.91734018, -0.50405844]])

In [25]:
diamond_price_prediction.predict(sca_data)

array([ 874.63, 2157.1 , 2050.05, ..., 4990.54, 4131.69, 3466.62])

In [26]:
pred_data_df["price"]=diamond_price_prediction.predict(sca_data)

In [27]:
pred_data_df.head(2)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,193573,0.35,Ideal,D,VS2,62.3,56.0,4.51,4.54,2.82,874.63
1,193574,0.77,Very Good,F,SI2,62.8,56.0,5.83,5.87,3.68,2157.10

In [28]:
pred_data_df.to_csv("predicted_price.csv",index=False,columns=["id","price"])